<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- 	<f:facet name="first"> -->
	<!-- 		<meta http-equiv="x-ua-compatible" content="IE=8" /> -->
	<!-- 	</f:facet> -->
	<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1" /> -->
	<!-- 	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> -->
	<!-- 	<meta content="private ,no-cache, no-store, must-revalidate" -->
	<!-- 		http-equiv="Cache-Control" /> -->
	<!-- 	<meta content="no-cache" http-equiv="Pragma" /> -->
	<!-- 	<meta content="0" http-equiv="Expires" /> -->

	<h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet>
	<!-- 	<h:outputStylesheet library="css" name="bootstrap-theme.css"></h:outputStylesheet> -->
	<h:outputScript library="js" name="base64.js"></h:outputScript>
	<h:outputScript library="js" name="aplication.js"></h:outputScript>

	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/icons/icon.png"
		type="image/png" />

	<title>#{login.tituloAplicacion}</title>

</h:head>

<body>

	<ui:insert name="content">Content</ui:insert>

</body>

</html>

