<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="./../resources/templates/simple.xhtml">
	<ui:define name="content">

		<p:dialog id="dlgMensajeConsultaCuenta" widgetVar="dlgMensaConsulta"
			closeOnEscape="false" header="Consulta estado Cuenta MSC" modal="true"
			resizable="false" appendTo="@(body)"
			visible="#{DriverEjecucionComandoBean.visibleModal1}" closable="false">
				<h:form id="idform">
					<p:panelGrid columns="2">
						<p:outputLabel value="Cuenta"/>
						<p:outputLabel value="#{DriverEjecucionComandoBean.driverejecucioncomando.cuenta}" rendered="#{!DriverEjecucionComandoBean.visibleModal2}"/>
						<p:inputText value="#{DriverEjecucionComandoBean.cuenta}" rendered="#{DriverEjecucionComandoBean.visibleModal2}"/>		
						
					</p:panelGrid>
					
					<p:panelGrid id="idpanelgrid" columns="2" rendered="#{DriverEjecucionComandoBean.visiblepanelgrid}">
						<p:outputLabel value="LLamda Saliente"/>
						<p:outputLabel value="#{DriverEjecucionComandoBean.mensajeCLRDSG()}"/> 
						<p:outputLabel value="Llamda Entrante"/>
						<p:outputLabel value="#{DriverEjecucionComandoBean.mensajeCLDPREANA()}"/> 
					</p:panelGrid>
					
					<p:panelGrid columns="2">
						<p:commandButton id="btnconsulta" value="Consultar" actionListener="#{DriverEjecucionComandoBean.ConsultarEstadoCuentaMSC()}" update="idform"
						 rendered="#{DriverEjecucionComandoBean.visibleModal2}"/>
					
						<p:commandButton id="btnsalir" value="Salir" actionListener="#{DriverEjecucionComandoBean.Cancelar()}" 
						update=":dlgMensajeConsultaCuenta"/>
					</p:panelGrid>
				</h:form>
			</p:dialog>	


		<h:form id="frmlogtransaccion">
			<div class="visible-lg">
				<h1>EJECUCIÓN COMANDO</h1>
			</div>
			<p:panel>
				<p:outputLabel value="Fecha inicio" style="margin-right: 10px;" />
				<p:calendar id="fechainicio"
					value="#{DriverEjecucionComandoBean.fechainicio}"
					pattern="dd-MM-yyyy" timeZone="GMT-4" style="margin-right: 10px;" />
				<p:outputLabel value="Fecha fin" style="margin-right: 10px;" />
				<p:calendar id="fechafin"
					value="#{DriverEjecucionComandoBean.fechafin}" pattern="dd-MM-yyyy"
					timeZone="GMT-4" style="margin-right: 10px;" />
			</p:panel>
			<p:panel>
				<p:outputLabel value="Cuenta" style="margin-right: 10px;" />
				<p:inputText value="#{DriverEjecucionComandoBean.cuenta}"
					style="margin-right: 10px;">
				</p:inputText>
				<p:commandButton value="Buscar" id="btnbuscar"
					actionListener="#{DriverEjecucionComandoBean.buscar()}"
					update="frmlogtransaccion:tabladriverejecucioncomando"
					style="margin-right: 10px;" />
			</p:panel>
			<br />
			<h:panelGrid columns="2">
				<p:commandButton value="Procesar" id="btnprocesar"
				actionListener="#{DriverEjecucionComandoBean.ProcesarMultiple()}"
				update="frmlogtransaccion:tabladriverejecucioncomando"
				style="margin-right: 10px;" />
				
				<p:commandButton value="Consultar Estado Cuenta" id="btnconultarcuentad"
				actionListener="#{DriverEjecucionComandoBean.ConsultarEstadoCuenta()}" 
				style="margin-right: 10px;" update=":dlgMensajeConsultaCuenta :idform"/>
			</h:panelGrid>

			<p:dataTable id="tabladriverejecucioncomando"
				value="#{DriverEjecucionComandoBean.listaejecucioncomando}"
				var="entidad" rows="5"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" paginator="true"
				caseSensitiveSort="sensitive"
				selection="#{DriverEjecucionComandoBean.listaseleccionados}"
				emptyMessage="No hay datos" filterDelay="500" lazy="true"
				rowKey="#{entidad.id}" scrollable="true">

				<f:facet name="header">
                    	LISTA DE EJECUCIONES DE COMANDO
					</f:facet>
				<f:facet name="header">

				</f:facet>
				<p:column selectionMode="multiple" width="40" />
				<p:column headerText="Fecha Registro" width="100" filterBy="#{entidad.fechaRegistro}">
					<p:outputLabel value="#{entidad.fechaRegistro}">
						<f:convertDateTime pattern="dd-MM-yyyy  HH:mm:ss" timeZone="GMT-4" />
					</p:outputLabel>
				</p:column>

				<p:column headerText="Tipo Plan " width="140">
					<h:outputLabel value="#{DriverEjecucionComandoBean.TipoPlan(entidad.cuenta)}" />
				</p:column>

				<p:column id="pcuenta" headerText="Cuenta"
					filterBy="#{entidad.cuenta}" width="80">
					<p:outputLabel value="#{entidad.cuenta}" />
				</p:column>
				<p:column filterBy="#{entidad.usuario}" width="80">
					<f:facet name="header">
						<h:outputText value="Usuario" />
					</f:facet>
					<p:outputLabel value="#{entidad.usuario}" />
				</p:column>
				<p:column headerText="Estado BCCS" width="80"
					filterBy="#{entidad.estadoBCCS}">
					<p:outputLabel value="#{entidad.estadoBCCS}" />
				</p:column>
				<p:column width="280">
					<f:facet name="header">
						<p:outputLabel value="Trama " style="margin-right: 10px;" />
						<p:outputLabel value="BCCS" />
					</f:facet>
					<p:outputLabel value="#{entidad.tramaBccs}" />
				</p:column>
				<p:column width="200">
					<f:facet name="header">
						<p:outputLabel value="MSC" />
					</f:facet>
					<p:outputLabel
						value="#{DriverEjecucionComandoBean.nombre(entidad.tramaBccs)}" />
				</p:column>
				<p:column filterBy="#{entidad.comandoMsc}" styleClass="idcol"
					width="350">
					<f:facet name="header">
						<p:outputLabel value="Comando" style="margin-right: 10px;" />
						<p:outputLabel value="MSC" />
					</f:facet>
					<p:outputLabel value="#{entidad.comandoMsc}" />
				</p:column>
				<p:column headerText="Motivo Fallo" width="350" filterBy="#{entidad.motivoFallo}">
					<p:outputLabel value="#{((entidad.motivoFallo.indexOf(DriverEjecucionComandoBean.retcode())==-1) ) ? entidad.motivoFallo: DriverEjecucionComandoBean.CortoMotivoFallo(entidad.motivoFallo)}" />
					<!--<p:outputLabel value="#{entidad.motivoFallo}"/> -->
				</p:column>
				<p:column headerText="Estado" filterBy="#{entidad.estado}"
					width="100">
					<p:outputLabel value="#{entidad.estado}" />
				</p:column>
				


			</p:dataTable>
			

			
			<style type="text/css">
th>input {
	width: 100% !important
}

body>div {
	overflow-x: hidden;
	overflow: visible;
}
</style>
		</h:form>
		
				
			
		
	</ui:define>
</ui:composition>