<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="./../resources/templates/simple.xhtml">
	<ui:define name="content">

	<p:dialog id="dlgidcambiarestado" widgetVar="dlgcambiarestado" modal="true" header="Confirmacion"
		closeOnEscape="false" resizable="false" appendTo="@(body)" closable="false" visible="#{driverRangoTelefoniaBean.visibleCambioEstaod}">
		 <h:form id="frmDatoEstado">	
		 		 ¿Está seguro que desea cambia su estado?
		 	<p:panelGrid columns="2">
		 		<p:commandButton id="btnGuardarcambioestado" value="Si"
						actionListener="#{driverRangoTelefoniaBean.Eliminar()}"
						update=":dlgidcambiarestado :frmDatoEstado :frmDetalle" />
					<p:commandButton id="btnSalircambioestao" value="No" process="@this"
						actionListener="#{driverRangoTelefoniaBean.CancelarEliminar()}"
						update=":dlgidcambiarestado" />
		 	</p:panelGrid>
		 </h:form>
	</p:dialog>



		<p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar"
			closeOnEscape="false" header="#{driverRangoTelefoniaBean.headerCabeceraPopUp}" modal="true"
			resizable="false" appendTo="@(body)"
			visible="#{driverRangoTelefoniaBean.visibleNuevoEditar}" closable="false">
			<h:form id="frmDatos">
				<p:panelGrid columns="2">

					<p:outputLabel for="itPlanComercial" value="Tipo Plan:" />
					<p:selectOneMenu id="itPlanComercial" value="#{driverRangoTelefoniaBean.selectPlanComercial}" size="35">
						<f:selectItem itemValue="0" itemLabel="Seleccione un plan comercial" /> 
						<f:selectItem itemValue="PLAN_800" itemLabel="PLAN 800"/>
						<f:selectItem itemValue="TELEFONIA_FIJA" itemLabel="TELEFONIA FIJA"/>
						<f:selectItem itemValue="NUMERACION_MOVIL" itemLabel="NUMERACION MOVIL"/>						
					</p:selectOneMenu>
					
					<p:outputLabel id="itNombreComercial" value="Nombre Plan Comercial"/>
					<p:inputText id="nombrecomercial" value="#{driverRangoTelefoniaBean.driverRangoTelefonia.nombrePlanComercial}" size="35" maxlength="60"/>
					
					<p:outputLabel for="itDescripcion" value="Descripción Plan:" />
					<p:inputText id="itDescripcion" size="35" maxlength="60"
						value="#{driverRangoTelefoniaBean.driverRangoTelefonia.descripcion}" label="Descripcion">
					</p:inputText>
					<p:outputLabel for="itRangoInicio" value="Rango Inicio:" />
					<p:inputText id="itRangoInicio" size="35" maxlength="30"
						value="#{driverRangoTelefoniaBean.driverRangoTelefonia.rangoInicio}" label="Rango Inicio">
					</p:inputText>				
					<p:outputLabel for="itRangoFin" value="Rango Fin:" />
					<p:inputText id="itRangoFin" size="35" maxlength="30"
						value="#{driverRangoTelefoniaBean.driverRangoTelefonia.rangoFin}" label="Rango Fin">
					</p:inputText>
					<p:outputLabel for="itEstado" value="Estado:" />
					<p:inputText id="itEstado" size="35" maxlength="30"
						value="#{driverRangoTelefoniaBean.driverRangoTelefonia.estado}" label="Estado">
					</p:inputText>
				</p:panelGrid>
				<p:panelGrid columns="2">
					<p:commandButton id="btnGuardar" value="Guardar"
						actionListener="#{driverRangoTelefoniaBean.Save()}"
						update=":dlgNuevoEditarId :frmDatos :frmDetalle" />
					<p:commandButton id="btnSalir" value="Salir" process="@this"
						actionListener="#{driverRangoTelefoniaBean.Cancelar()}"
						update=":dlgNuevoEditarId" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<br />

		<h:form id="frmDetalle">
			<p:confirmDialog global="true">
				<p:commandButton value="Si" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<div class="visible-lg">
				<h1>GESTIÓN DE RANGO TELEFONÍA</h1>
			</div>
			<div class="hidden-lg">
				<h4>GESTIÓN DE RANGO TELEFONÍA</h4>
			</div>

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				rendered="#{muGrupoBean.isAuthorized(privilegio.ACCION_CREAR)}"
				style="width:140px;" actionListener="#{driverRangoTelefoniaBean.Nuevo()}"
				update=":dlgNuevoEditarId :frmDatos" />

			<!--<p:commandButton value="Editar" icon="ui-icon-pencil"
				rendered="#{muGrupoBean.isAuthorized(privilegio.ACCION_MODIFICAR)}"
				style="width:140px;" actionListener="#{driverRangoTelefoniaBean.Editar()}"
				update=":dlgNuevoEditarId :frmDatos" /> -->
				
			
			<br />
			<p:dataTable var="row" value="#{driverRangoTelefoniaBean.listaDriverRangoTelefonia}"
				paginator="true" rows="10" first="0"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" selectionMode="single"
				selection="#{driverRangoTelefoniaBean.driverRangoTelefonia}" rowKey="#{row.id}">
				<f:facet name="header">LISTA DE RANGO TELEFONIA</f:facet>

				<p:column style="text-align: left;" headerText="ACCIONES" width="300"
					styleClass="visible-lg">
					<p:commandLink id="editLink" title="Editar Grupo"
						rendered="#{muGrupoBean.isAuthorized(privilegio.ACCION_MODIFICAR)}"
						actionListener="#{driverRangoTelefoniaBean.Editar(row)}"
						update=":dlgNuevoEditarId :frmDatos">
						<h:graphicImage id="editImage" alt="Modificar"
							url="/resources/icons/edit.png" styleClass="icon" />
					</p:commandLink>
					
				
					<p:commandButton id="btncambiarestado" value="Cambiar Estado"
						rendered="#{muFormularioBean.isAuthorized(privilegio.ACCION_ELIMINAR)}"
						actionListener="#{driverRangoTelefoniaBean.DatoEliminar(row)}" update=":dlgidcambiarestado :frmDatoEstado"
					>
					</p:commandButton>

				</p:column>

				<p:column headerText="DESCRIPCIÓN"  style="text-align: center;"
					filterBy="#{row.descripcion}" filterMatchMode="contains">
					<h:outputText value="#{row.descripcion}" />
				</p:column>

				<p:column headerText="RANGO INICIO" style="text-align: center;"
					filterBy="#{row.rangoInicio}" filterMatchMode="contains">
					<h:outputText value="#{row.rangoInicio}" />
				</p:column>

				<p:column headerText="RANGO FIN" filterBy="#{row.rangoFin}" style="text-align: center;"
					filterMatchMode="contains" >
					<h:outputText value="#{row.rangoFin}"/>
				</p:column>
				
				<p:column headerText="TIPO DE PLAN" filterBy="#{row.planComercial}" style="text-align: center;"
					filterMatchMode="contains" >
					<h:outputText value="#{row.planComercial}"/>
				</p:column>
				
				<p:column headerText="ESTADO"  style="text-align: center;" width="80">
					<h:outputText value="#{row.estado}"/>
				</p:column>
				
				<p:column headerText="NOMBRE PLAN COMERCIAL">
					<h:outputText value="#{row.nombrePlanComercial}" />
				</p:column>
				
			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>