<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="./../resources/templates/simple.xhtml">
<style type="">
	.test .ui-selection-column .ui-chkbox {
	display: none;
	}
</style>>
	<ui:define name="content">		
		<h:form id="mainForm2">
			<div class="visible-lg">
				<h1>GESTIÓN DE RUTAS</h1>
			</div>
			<div class="hidden-lg">
				<h4>GESTIÓN DE RUTAS</h4>
			</div>
			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:140px;" actionListener="#{callGateBean.initNew()}"
				update=":dlgNuevoEditarId :frmDatos" />

			<!-- <p:commandButton value="Editar" icon="ui-icon-pencil"
				rendered="#{roleForm.isAuthorized(privilegio.ACCION_MODIFICAR)}"
				style="width:140px;" actionListener="#{roleForm.editRole()}"
				update=":dlgNuevoEditarId :frmDatos" /> -->

			<br></br>
			<p:dataTable var="item" value="#{callGateBean.listaentity}" paginator="true"
				 rows="15" id="tblMain"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" styleClass="test"
				 rowKey="#{item.id}">

				<f:facet name="header">LISTA DE DATOS</f:facet>

				<p:column headerText="ACCIONES" style="text-align: center;"
					width="90" styleClass="visible-lg">
					  
					<p:commandLink id="editLink" title="Editar Ruta"
						actionListener="#{callGateBean.editItem(item)}"				
						update=":dlgNuevoEditarId :frmDatos">
						<h:graphicImage alt="Editar" url="/resources/icons/edit.png" />
					</p:commandLink>

					<p:commandButton id="deleteLink" value="" title="Dar de baja" 
						style="height:20px; width:20px; border:0px none; background:transparent  url('../resources/icons/delete.png;');"
						actionListener="#{callGateBean.selectItem()}"
						oncomplete="PF('dlg').show();" update=":formPanel">
						<f:param name="itemId" value="#{item.id}" />
						<f:param name="itemName" value="#{item.route}" />
					</p:commandButton>

				</p:column>

				<p:column sortBy="#{item.route}" filterBy="#{item.route}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="RUTA" />
					</f:facet>
					<h:outputText value="#{item.route}" />
				</p:column>

				<p:column sortBy="#{item.account}"
					filterBy="#{item.account}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="CUENTA" />
					</f:facet>
					<h:outputText value="#{item.account}" />
				</p:column>
				
				<p:column sortBy="#{item.detail}"
					filterBy="#{item.detail}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="DETALLE" />
					</f:facet>
					<h:outputText value="#{item.detail}" />
				</p:column><!--
				<p:column sortBy="#{item.ttstar}"
					filterBy="#{item.ttstar}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="FECHA I." />
					</f:facet>
					<h:outputText value="#{item.ttstar}"/>
				</p:column>  -->
				<p:column headerText="FECHA I." filterBy="#{item.ttstar}"
					filterMatchMode="contains">
					<h:outputText value="#{item.ttstar}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-4" />
					</h:outputText>
				</p:column>
			</p:dataTable>

		</h:form>
		
		
		<p:dialog widgetVar="dlg" modal="true" resizable="false"
			showEffect="fade" appendTo="@(body)" header="Baja de Ruta">
			<h:form id="formPanel">
				<p:growl id="growl" showDetail="true" sticky="true"
					autoUpdate="true" />
				<h:outputLabel
					value="Esta seguro de dar de baja la ruta '#{callGateBean.selectItemName}'..?"/>
				<p:spacer height="10" />
				<p:inputTextarea id="areaDetalleBaja" rows="4" cols="38" style="width:100%" value="#{callGateBean.detailItem}"/>
				<center>
					<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
						<p:commandButton value="Continuar"
							actionListener="#{callGateBean.disableMediationSipTrunk()}" icon="ui-icon-trash"
							oncomplete="PF('dlg').hide();" update=":mainForm2"></p:commandButton>
						<p:commandButton value="Cancelar" icon="ui-icon-cancel"
							oncomplete="PF('dlg').hide();" update=":frmDatos"></p:commandButton>
					</h:panelGrid>
				</center>
			</h:form>
		</p:dialog>
		
		<p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar"
			closeOnEscape="false" header="Nuevo / Editar" modal="true"
			resizable="false" appendTo="@(body)"
			visible="#{callGateBean.visibleEditNew}" closable="false" draggable="false">
			<h:form id="frmDatos">
				<p:messages 	showDetail="true" showSummary="false" autoUpdate="true"
					closable="true" />
					<h:panelGrid columns="1" columnClasses="ui-grid-col-12,ui-grid-col-12" layout="grid" styleClass="ui-panelgrid-blank" style="width:100%">
						<div class="ui-g-12">
							<p:outputLabel for="input" value="Ruta:"/>
							<p:inputText id="input" style="width:100%" value="#{callGateBean.mediationSipTrunk.route}"/>					        					       
					 		<p:outputLabel for="inputcta" value="Cuenta:"/>
					        <p:inputText id="inputcta" style="width:100%" value="#{callGateBean.mediationSipTrunk.account}" />				        
					        
					        <p:outputLabel for="areaDetalle" value="Detalle"/>
					        <p:inputTextarea id="areaDetalle" rows="4" cols="38" style="width:100%" value="#{callGateBean.mediationSipTrunk.detail}" />
						</div>
					</h:panelGrid>
				<h:panelGrid columns="2">					
					<p:commandButton value="Guardar" icon="ui-icon-disk"
						actionListener="#{callGateBean.saveMediationSipTrunk()}" update=":mainForm2 :dlgNuevoEditarId"/>

					<p:commandButton value="Salir" icon="ui-icon-close"
						actionListener="#{callGateBean.setVisibleEditNew(false)}"
						update=":dlgNuevoEditarId " />

				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>