<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="./../resources/templates/simple.xhtml">
	<ui:define name="content">
		<h:form id="frmlogtransaccion">
		
		<div class="visible-lg">
				<h1>LOG DE TRANSACCIONES</h1>
			</div>
		<p:panel>
			<p:outputLabel value="Fecha inicio"  style="margin-right: 10px;" />
			<p:calendar id="fechainicio" value="#{driverTransaccionBean.fechainicio}" 
			pattern="dd-MM-yyyy " timeZone="GMT-4"  style="margin-right: 10px;"/>
			<p:outputLabel value="Fecha fin"  style="margin-right: 10px;"/>
			<p:calendar id="fechafin" value="#{driverTransaccionBean.fechafin}" 
			pattern="dd-MM-yyyy " timeZone="GMT-4"  style="margin-right: 10px;"/>
		</p:panel>
		<p:panel>
			<p:outputLabel value="Cuenta"  style="margin-right: 10px;"/>
			<p:inputText value="#{driverTransaccionBean.cuenta}"  style="margin-right: 10px;"/>
			<p:commandButton value="Buscar" id="btnbuscar" update="frmlogtransaccion:tabladrivertransaccion" 
				actionListener="#{driverTransaccionBean.buscar()}"  style="margin-right: 10px;"/>
		</p:panel>
			<br />
			<p:dataTable id="tabladrivertransaccion" value="#{driverTransaccionBean.listadriver}" var="entidad" rows="5"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" paginator="true" selectionMode="single" caseSensitiveSort="sensitive" emptyMessage="No hay datos" filterDelay="500"
				selection="#{entidad}" lazy="true"
				 rowKey="#{entidad.id}" >				
				<f:facet name="header">
                    	LISTA DE TRANSACCIONES
					</f:facet>
				<p:column headerText="Id" width="80">
					<p:outputLabel value="#{entidad.id}"/>
				</p:column>
				<p:column headerText="Cuenta" filterBy="#{entidad.cuenta}" width="150">
					<p:outputLabel value="#{entidad.cuenta}"/>
				</p:column>
				<p:column filterBy="#{entidad.usuario}">
					<f:facet name="header">
						<h:outputText value="Usuario" />
					</f:facet>
					<p:outputLabel value="#{entidad.usuario}"/>
				</p:column>
				<p:column headerText="Acción" filterBy="#{entidad.accion}" width="350">
					<p:outputLabel value="#{entidad.accion}"/>
				</p:column>
				<p:column headerText="Tipo" filterBy="#{entidad.tipo}">
					<p:outputLabel value="#{entidad.tipo}"/>
				</p:column>
				<p:column headerText="Fecha Registro">
					<p:outputLabel value="#{entidad.fechaRegistro}">
						<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss" timeZone="GMT-4" />
					</p:outputLabel>
				</p:column>
			</p:dataTable>
		</h:form>
		
		
	</ui:define>
</ui:composition>